html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper #header {
  margin-bottom: 50px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 130px;
}

.header__content {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.header__menu--top .item__top {
  margin-bottom: 15px;
  padding-left: 310px;
  display: flex;
  align-items: center;
}
.header__menu--top .item__top:last-child {
  margin-bottom: 0;
}
.header__menu--top .item__top .menu__top {
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  margin-right: 30px;
}
.header__menu--top .item__top .menu__top:last-child {
  margin-right: 0;
}
.header__menu--top .item__top a {
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}
.header__menu--top .item__top a:hover {
  color: #f88535;
}
.header__menu--top .item__top a svg {
  filter: grayscale(1);
  margin-right: 5px;
  transition: all 0.3s ease-in-out;
}
.header__menu--top .item__top a svg:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.header__menu--top .item__bottom {
  display: flex;
  align-items: center;
}
.header__menu--top .item__bottom .menu__bottom {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #282828;
  margin-right: 40px;
  transition: color 0.3s ease-in-out;
}
.header__menu--top .item__bottom .menu__bottom:last-child {
  margin-right: 0;
}
.header__menu--top .item__bottom .menu__bottom:hover {
  color: #f88535;
}

#partners {
  margin-bottom: 50px;
  margin-top: 50px;
}
#partners h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  text-transform: uppercase;
  color: #282828;
  margin-bottom: 50px;
}
#partners .content__partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
#partners .content__partners .partners__card {
  border-radius: 30px;
  max-width: 473px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#partners .content__partners .partners__card--text {
  padding: 20px;
}
#partners .content__partners .partners__card--text .partners__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #282828;
  margin-bottom: 20px;
}
#partners .content__partners .partners__card--text span {
  display: inline-block;
  max-width: 433px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #282828;
  margin-bottom: 20px;
}
#partners .content__partners .partners__card--text a {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #f88535;
}
#partners .content__partners .partners__card--text a svg {
  margin-left: 12px;
}

#partners-events {
  margin-bottom: 50px;
  background-color: #f88535;
}
#partners-events .content__events {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
}
#partners-events .content__events p {
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}
#partners-events .content__events p:first-child {
  margin-bottom: 0;
}
#partners-events .content__events span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 15px;
}
#partners-events .content__events span:last-child {
  margin-bottom: 0;
}
#partners-events .content__events ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  text-align: start;
  margin-left: 15px;
  margin-bottom: 15px;
}
#partners-events .content__events ul li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 10px;
}
#partners-events .content__events ul li:last-child {
  margin-bottom: 0;
}
#partners-events .content__events .content__events--contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#partners-events .content__events .content__events--contact .events__contact {
  display: flex;
  flex-direction: column;
}
#partners-events .content__events .content__events--contact .events__contact a {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}
#partners-events .content__events .content__events--contact .events__contact a:last-child {
  margin-bottom: 0;
}

#footer {
  background-color: #f0f0f0;
}
#footer .footer__content {
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#footer .footer__content .footer__content--top {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
#footer .footer__content .content__logo {
  margin-right: 110px;
}
#footer .footer__content .content__logo p {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  color: #909090;
  max-width: 240px;
}
#footer .footer__content .mnu__footer {
  display: flex;
  margin-right: 110px;
}
#footer .footer__content .mnu__footer ul {
  margin-right: 110px;
}
#footer .footer__content .mnu__footer ul:last-child {
  margin-right: 0;
}
#footer .footer__content .mnu__footer span {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  color: #282828;
  margin-bottom: 13px;
}
#footer .footer__content .mnu__footer li {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: underline;
  color: #282828;
  margin-bottom: 15px;
}
#footer .footer__content .mnu__footer li:last-child {
  margin-bottom: 0;
}
#footer .footer__content .contact__footer {
  max-width: 240px;
}
#footer .footer__content .contact__footer p {
  font-weight: 700;
  font-size: 20px;
  color: #282828;
  margin-bottom: 15px;
}
#footer .footer__content .contact__footer span {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  margin-bottom: 15px;
}
#footer .footer__content .contact__footer a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  color: #282828;
  margin-bottom: 15px;
}
#footer .footer__content .line {
  display: inline-block;
  height: 2px;
  width: 120%;
  background-color: #c4c4c4;
  margin-bottom: 25px;
}
#footer .footer__content .footer__content--bottom {
  min-width: 1000px;
  display: flex;
  align-items: center;
}
#footer .footer__content .footer__content--bottom p {
  font-weight: 400;
  font-size: 14px;
  color: #282828;
  margin-right: 50px;
}
#footer .footer__content .footer__content--bottom ul {
  display: flex;
}
#footer .footer__content .footer__content--bottom ul li {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #282828;
  margin-right: 15px;
}
#footer .footer__content .footer__content--bottom ul li:last-child {
  margin-right: 0;
}/*# sourceMappingURL=partners.css.map */